{% extends "base.html" %}

{% block base %}

<div class="d-flex">
		<h1>It's Me!!! <span class="badge badge-secondary">{{ profile.name }}</span></h1>
		
		<div class="p-2"></div>
		<a href="{% url 'update_profile' profile_id=profile_obj.id %}" class="btn btn-outline-info">Update</a><br>
	</div>
		AUTHER: {{ profile.owner}}<br>
		LAST UPDATED: <footer class="blockquote-footer">{{ profile.last_updated }}</footer><br>
		<p class="card-text">Image: {% if profile.image %}
			<img class="card-img-top" src="{{profile.image.url}}" alt="Card image cap"></img>
		{% endif %}
		</p>

		<a href="{% url 'create_post' %}" class="btn btn-outline-success"><button>  Create Post </button></a>

		

	<div class="card" style="width: 18rem;">
		{% for post in posts%}
		<img class="card-img-top" src="{{post.img}}" alt="Card image cap"></img>
		<div class="card-body">
			<h5 class="card-title">{{post.title}}</h5>
			<p class="card-text">{{post.content}}</p>
			LAST UPDATED: <footer class="blockquote-footer">{{ post.last_updated }}</footer><br>
			<a href="/list/" class="btn btn-light">Back</a>
			<a href="{% url 'update_post' post_id=post.id %} class="btn btn-outline-info"">Update</a><br>
			
		</div>
	</div>
{% endfor %}
{% endblock base%}