{% extends "base.html" %}

{% block base %}
<div class="d-flex">
    <h1> Welcome!...    It's Me!!! <span class="badge badge-secondary">{{ object.name }}</span></h1>
    
  <div class="p-2"></div>
  </div>

		NAME: {{ detail.name }}<br><br>
		IMG: {{ detail.img}}<br><br>
		LAST UPDATE: {{ detail.last_updated }}<br><br>
		auther: {{ detail.owner}}<br><br>

		<a class=""><i class="far fa-heart"></i></a><br><br>
		<a href="{% url 'profile_list' %}"><button> Back </button></a>
		<a href="{% url 'create_post' profile_id=detail.id%}"class="btn btn-primary"> create post </a><br>

<!-- {% for post in posts %}
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{post.img}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{post.title}}</h5>
    <p class="card-text">{{post.content}}</p><br>
    <a href="{% url 'update_post' post_id=post.id  %}"class="btn btn-primary"> Update </a><br>
    <a href="{% url 'delete_post' post_id=post.id  %}"class="btn btn-primary"> Delete </a><br>
  </div>
</div>
{% endfor %}

    <a href="{% url 'profile_list' %}"class="btn btn-primary"> Back </a><br>

 -->
{% endblock base%}