{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block base %}

	{% for object in list %}

	<div class="d-flex">
		<h1>It's Me!!! <span class="badge badge-secondary">{{ object.name }}</span></h1>
		
		<div class="p-2"></div>
	</div>
	<div class="card-body">

		<a href="{% url 'detail_profile' profile_id=object.id %}">{{ object.name }}</a><br>
		<a href="{% url 'follow' profile_id=object.id%}" class="btn btn-primary" onclick="i_clicked({{object.id}})">Follow</a>

	</div>
	{% endfor %}

	<script>
		function i_clicked(id)
		{
			$.ajax({
				type:"GET",
				url:"/follow/"+id,
				error:function(){
					console.log("not following yet!!")
				},
				success:function(data){
					console.log(data);
					if (data.action==="following") {
						$("#follow").text("following")
					}
					else{
						$("#follow").removeClass("following")
					}
				},
			})
		}
	</script>

{% endblock base%}